.Updates {
  .post-heading {
    text-transform: uppercase;
    font-weight: bold;
    color: #5d6371;
    font-size: 16px;
  }

  .more-news .post-heading {
    font-size: 18px;
  }

  .more-news .section-heading-line {
    margin: 20px 0;
  }

  a {
    color: #dd889a;
  }
}
